* {
  box-sizing: border-box;
}

html {
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

body {
  font-family: 'Proxima Nova';
  letter-spacing: 0.2px;
  background-color: #d0c490;
  height: 100%;
  color: #fff;
}

body.music {
  background: #34344d;
}

body.home {
  background: #d0c490;
  
}

/*//contains all the divs*/
.playlistcode-container {
  padding-top: 3px;
  float: right;
  text-transform: uppercase;
  font-size:11px;
  font-weight:100;
}

.logout-button {
  background-color: #2d3137;
  border: none;
  color: white;
  width: 95px;
  height: 20px;
  font-size: 9px;
}

.guest-box {
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
  height: 100px;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 25px;
  background-color: transparent;
}

.guestcode-span {
    display: block;
    padding-bottom: 5px;
}

.bigger-container {
  font-family: 'Proxima Nova';
  margin: 0 auto;
  width: 70%;
  position: relative;
}

.align-container {
  text-align: center;
}
/*buttons*/

.guest-container {
  font-family: 'Proxima Nova';
  padding-top: 17px;
}

.logo-container {
  padding-top: 23px;
}

.player-container {
  width: 100%;
  margin-bottom: 150px;
  margin: 0 auto;
}

.padded-container {
  padding-top:30px;
}

.play-pause {
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
  height: 100px;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 25px;
  background-color: transparent;
}

.text-lets-jam {
  font-family: 'Proxima Nova';
  text-transform: uppercase;
  padding: 20px 30px 20px 30px;
  color: white;
}

.button-lets-jam {
  background-color: #ff6c00;
  width: 330px;
  height: 48px;
  font-size: 15px;
  letter-spacing: 2px;
  width: 290px;
  height: 48px;
  font-size: 15px;
  letter-spacing: 3px;
  border-width: 0px;
}

.button-play {
  display: inline-block;
}

.button-pause {
  display: inline-block;
}

/*playlist songs*/

.container-playlist {
  margin: 0 auto;
  height: 80px;
  width: 100%;
  margin-top: 10px;
  background-color: transparent;
}

.song-view{
  font-size: 17px;
  font-weight:580;
}

.artist-view{
  font-size: 15px;
  font-weight:100;
  padding-top: 4px;
}

.artist-view{
  padding-top: 4px;
  font-size: 14px;
}

.input-join-jam {
  background-color: #f1b136;
  width: 330px;
  height: 29px;
  border-width: 0px;
  font-family: 'Proxima Nova';
  width: 290px;
  height: 29px;
  border-width: 0px;
  color:#fff;
  padding: 5px 5px 5px 5px;
}

.input-host-jam {
  font-family: 'Proxima Nova';
  background-color: #ff6c00;
  width: 330px;
  background-color: #ff6c00;
  width: 290px;
  height: 29px;
  border-width: 0px;
  color:#fff;
  padding: 5px 5px 5px 5px;
}

::-webkit-input-placeholder{
  font-family: 'Proxima Nova';
  color: white;
  text-align: center;
  letter-spacing:2px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.searchbar-container {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding-bottom: 25px;
}

.searchbar {
  margin: 0 auto;
  width: 100%;
}

.searchbar input {
  font-family: 'Proxima Nova';
  font-size: 13px;
  color: #fff;
  border-width: 0px;
  width: 100%;
  height: 20px;
  border-radius: 50px;
  background-color: transparent;
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
  padding: 6px 6px 6px 6px;
}

/*close box*/

.close-container {
  vertical-align: top;
  float: right;
  padding-top: 10px;
}

/*soundcloud results*/

.soundcloud-results {
  display: none;
  width: 100%;
  position: absolute;
  background-color: #242424;
  top: 145px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.song-results {
  font-family: 'Proxima Nova';
  font-size: 13px;
  font-color: #ccc;
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.song-results a {
  display: block;
  font-family: 'Proxima Nova';
  font-size: 13px;
  color: #ccc;
  text-decoration: none;
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.song-results a:hover {
  font-family: 'Proxima Nova';
  background-color: #383838;
  font-size: 13px;
  font-color: #666;
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.plus {
  float: right;
  padding-top: 2px;
  padding-right: 10px;
}
