* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  letter-spacing: 0.2px;
  background-image: url('../img/blur.jpg');
  background-repeat: no-repeat;
  background-position: absolute;
  height: 100%;
  color: #fff;
}

/*//contains all the divs*/

.bigger-container {
  margin: 0 auto;
  width: 70%;
  position: relative;
}

/*buttons*/

.player-container {
  width: 100%;
  margin-bottom: 150px;
  margin: 0 auto;
}

.play-pause {
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
  height: 100px;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 25px;
  background-color: transparent;
}

.button-play {
  display: inline-block;
}

.button-pause {
  display: inline-block;
}

/*playlist songs*/

.container-playlist {
  margin: 0 auto;
  height: 80px;
  width: 100%;
  margin-top: 10px;
  background-color: transparent;
}

.song-view{
  font-size: 17px;
  font-weight:580;
}

.artist-view{
  font-size: 15px;
  font-weight:100;
  padding-top: 4px;
}

.artist-view{
  padding-top: 4px;
  font-size: 14px;
}

/*search bar */

.searchbar-container {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding-bottom: 25px;
}

.searchbar {
  margin: 0 auto;
  width: 100%;
}

.searchbar input {
  font-family: 'Open Sans';
  font-size: 13px;
  color: #000;
  border-width: 0px;
  width: 100%;
  height: 20px;
  border-radius: 50px;
  background-color: transparent;
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
}

/*close box*/

.close-container {
  vertical-align: top;
  float: right;
  padding-top: 10px;
}

/*soundcloud results*/

.soundcloud-results {
  display: none;
  width: 100%;
  position: absolute;
  background-color: #242424;
  top: 145px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.song-results {
  font-family: 'Open Sans';
  font-size: 13px;
  font-color: #ccc;
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.song-results a {
  display: block;
  font-family: 'Open Sans';
  font-size: 13px;
  color: #ccc;
  text-decoration: none;
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.song-results a:hover {
  font-family: 'Open Sans';
  background-color: #383838;
  font-size: 13px;
  font-color: #666;
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.plus {
  float: right;
  padding-top: 2px;
  padding-right: 10px;
}
